<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="{% static 'style.css' %}" >
    <style>
        /* #heading{
            font-size: medium;
            background-color: brown;
            color:blue;
        }

        #div{
            font-size:large;
            background-color: blueviolet;
            color:aqua;
        } */

        /* .h1{
            font-size:large;
            background-color: blueviolet;
            color:aqua;

        } */




        </style>
</head>
<body>
    <!-- <h1 id="heading">hello</h1>
    <h1 id="add" class="h1"> orders</h1>
    <div id="div">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita culpa sequi nihil similique blanditiis. At corrupti voluptas nemo debitis alias exercitationem quas, facere quidem omnis necessitatibus magnam iure enim delectus error fugiat voluptates ad quam commodi autem molestias veritatis cupiditate? Voluptas odit sit rerum consequatur iste. Quibusdam, reprehenderit ratione facere natus saepe eum numquam fugit ipsa ab quaerat maiores vitae ipsam beatae libero deserunt, omnis error iusto? Ut cum laboriosam vero aliquid ex error ducimus quisquam repellendus voluptatum nam.


    </div>
    <div class="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic rem esse, maiores tempora, nemo architecto placeat molestiae ad laudantium quis, ratione quod. Debitis, dolores! Debitis necessitatibus non porro quos aspernatur dicta iste itaque aliquam soluta, cupiditate in natus, officia doloribus beatae quidem autem ut delectus dolores ipsum iusto! Id.</div>
<span >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti aliquam nihil iure, itaque eum quis fuga quibusdam culpa quae autem praesentium, illo perspiciatis, quos quaerat! Voluptatibus soluta molestiae deleniti quo distinctio impedit nostrum? Consectetur optio deserunt numquam pariatur neque natus est repudiandae, nisi, aliquid, inventore assumenda nobis nostrum sed necessitatibus?</span> -->


<span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur mollitia officia aspernatur illo laboriosam aliquid reprehenderit eveniet excepturi, minima temporibus recusandae rerum, unde molestias blanditiis! Similique possimus quasi eveniet distinctio dolores minima unde, aliquam laudantium quae debitis ipsum laborum nulla eius quo. Quisquam optio quia pariatur molestiae. Ipsam, quaerat cumque!</span>
<div>
    <span>heloo</span>
</div>
</body>
</html>
</body>
</html>