{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" >
    <!-- <style> -->
        <!-- /* #div1 {
            background-color: brown;
            color: red;
        }

        .div2 {
            color:aqua
        }
    </style> */
</head>
<body>
    /* <div id="div1"> hiii</div>
    <div >
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non delectus officia consequuntur repudiandae quasi cupiditate voluptate ducimus provident nisi eaque repellendus aliquam, necessitatibus voluptatem. Recusandae similique, minima neque voluptas sit aperiam labore nesciunt perspiciatis vero voluptates molestiae ipsum, veniam dolores reprehenderit soluta amet deserunt corporis, necessitatibus fugit eum repudiandae numquam! </span>
    </div>
    <div class="div2"> helllllllllo</div> */ -->

    <div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam iusto fugiat sunt cupiditate rerum alias neque sit, facere laborum. Nam delectus, ad dolores sed eos modi quos incidunt consequuntur.
        </div>


</body>
</html>