{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <!-- <div class="new" id="head">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloribus quaerat repellendus iste ex temporibus blanditiis veniam rem laborum. Commodi ut tenetur eveniet asperiores fuga temporibus aperiam quae veniam sequi. Saepe labore hic veniam vitae et nostrum ullam accusantium harum assumenda rem, earum est consequatur consectetur quae dolores quas dicta nihil sunt accusamus, quaerat, facilis error. Dolorem saepe reprehenderit aperiam, alias unde aspernatur necessitatibus? Doloremque culpa temporibus eos adipisci repudiandae itaque laboriosam vel distinctio, quos inventore rem saepe animi cum?
    </div>
     -->
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquid molestiae ratione deserunt accusamus? Illum eius, quasi qui, culpa impedit ab error itaque modi omnis dicta ullam debitis recusandae. Hic repellat dolorum cumque qui consectetur, exercitationem quasi optio quo in saepe dolores cum fuga quod aliquam, perspiciatis harum maxime asperiores? Eligendi laboriosam dicta, pariatur, enim, dolorum ipsum dolores ullam quo alias aspernatur ipsa commodi quae ut corporis qui! Deleniti officiis repudiandae consequatur facilis tempore expedita blanditiis dolorum voluptatum vero sunt?</p>
</body>
</html>
