{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <!-- <img src="{% static 'images/image1.jpg'%} " height="40px" width="50px" alt="image1">
    <img src="{% static 'images/image 2.jpg'%} "height="100px" width="80px" alt="image2">
    <img src="{% static 'images/image 3.jpg'%} " alt="image3">
    <a href="facebook.com">world</a>
    <a href="youtube.com">greetings</a> -->
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cupiditate et quia perspiciatis expedita eaque voluptates vitae eius blanditiis porro placeat, dolorum doloremque vero dolorem incidunt voluptatibus numquam! Impedit aperiam et illum, architecto inventore libero est aspernatur dolores quisquam. Amet?</span>
    <div style="color:green; background-color:red;">
        <span>
       
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum omnis fugiat commodi repellendus sapiente dolore error in cumque, fuga vero cum, illum voluptates animi dolorum recusandae reprehenderit dolor dolorem nam!
        </span>
        </div>
</body>
</html>