<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="20" cellspacing="2" >
    <form action="">
        <tr>
            <th style="font-size: large;">Change Password</th>
        
        </tr>

        <tr>
           <td> <label for="">Current Password</label></td>
            <td><input type="text" placeholder=""></td>
         </tr>
        
        <tr>
             <td> <label for="">New Password</label></td> 
            
           <td> <input type="password" placeholder=""></td>
        </tr>
        
        <tr>
            <td><label for=""> Confirm New Password</label></td>
           <td><input type="password" placeholder=""></td>
        </tr>
        
        <tr>
          <td> <input type="submit" value="Change password" style="background-color:green;"></td>
        </tr>


    </form>
    </table>
</body>
</html>