<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Customer login</title>
</head>
<body>
    <table width="60px" cellspacing="40" cell padding="50">
       <form action="">
        <tr>
            <th align="center" style="font-size:larger"> Login</th>
        </tr>
        <tr>
            <td><input type="text" placeholder="Email" style="width:500px;height:40px"></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="Password" style="width:500px;height:40px"></td>
        </tr>
        <tr>
          <td>  <a href="#Forgot your password">Forgot your password</a></td>
        </tr>
        <tr>
            <td align="center"> <input type="submit" value="Sign in"></td>
        </tr>
        <tr>
            <td align="center"> <a href="#Create account"> Create account</a></td>
        </tr>

       </form>
    </table>
</body>
</html>